# deps
node_modules/

# build
dist/
dist-ssr/
.vite/
*.tsbuildinfo

# testing
coverage/
playwright-report/
test-results/

# env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
