@font-face {
  font-family: 'pvico';
  src: url('./pvico.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.pvico {
  font-family: 'pvico';
  font-weight: normal;
  font-style: normal;
}

.portfolio:before{content:'\0041';}
.screener:before{content:'\0042';}
.strategy:before{content:'\0043';}