/*!
 * CSS3 Ribbons by @pongstr
 * http://codepen.io/pongstr/pen/jxhbu
 */
 $brand-primary:         #428bca;
 $brand-success:         #5cb85c;
 $brand-info:            #5bc0de;
 $brand-warning:         #f0ad4e;
 $brand-danger:          #d9534f;

 $grid-columns: 12;
 $grid-gutter-width: 30px;

 $screen-xs: 480px;
 $screen-sm: 768px;
 $screen-md: 992px;
 $screen-lg: 1200px;

 @mixin clearfix {
    &:before,
    &:after {
     display: table;
     content: " ";
   }

   &:after { clear: both; }
 }

 @mixin make-row ($gutter: $grid-gutter-width) {
     @include clearfix;
     margin-left:  ($gutter / -2);
     margin-right: ($gutter / -2);

   @media (min-width: $screen-sm) {
       margin-left:  ($gutter / -2);
       margin-right: ($gutter / -2);
     }
 }

 @mixin make-column-xs ($columns, $gutter: $grid-gutter-width) {
   position: relative;
   padding-left: ($gutter / 2);
   padding-right: ($gutter / 2);

   @media (min-width: $screen-xs) {
     float: left;
     width: percentage(($columns / $grid-columns));
   }
 }

 @mixin make-column-sm ($columns, $gutter: $grid-gutter-width) {
   position: relative;
   padding-left: ($gutter / 2);
   padding-right: ($gutter / 2);

   @media (min-width: $screen-sm) {
     float: left;
     width: percentage(($columns / $grid-columns));
   }
 }

 @mixin make-column-md ($columns, $gutter: $grid-gutter-width) {
   position: relative;
   padding-left: ($gutter / 2);
   padding-right: ($gutter / 2);

   @media (min-width: $screen-md) {
     float: left;
     width: percentage(($columns / $grid-columns));
   }
 }

 @mixin make-column-lg ($columns, $gutter: $grid-gutter-width) {
   position: relative;
   padding-left: ($gutter / 2);
   padding-right: ($gutter / 2);


   @media (min-width: $screen-lg) {
     float: left;
     width: percentage(($columns / $grid-columns));
   }
 }

 html,
 body {
   height: 100%;
   font-family: "Helvetica Neue", Helvetica, sans-serif;
 }

 *, *:before, *:after {
   @include box-sizing(border-box);
 }

 .container {
   margin-left: auto;
   margin-right: auto;
   padding-left: ($grid-gutter-width / 2);
   padding-right: ($grid-gutter-width / 2);

   @media (min-width: $screen-sm) {
     width: $screen-sm;
   }

   @media (min-width: $screen-md) {
     width: $screen-md;
   }

   @media (min-width: $screen-lg) {
     width: $screen-lg;
   }
 }

 h1 {
   display: block;
   clear: both;
   width: 96%;
   margin: 25px auto;
   font-family: "Pacifico", cursive;
   font-size: 64px;
   font-weight: bold;
   text-align: center;
   background: -webkit-linear-gradient($brand-info, $brand-primary);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 pre {
   @include make-column-xs(12, $grid-gutter-width);
   @include make-column-sm(12, $grid-gutter-width);
   margin: ($grid-gutter-width / 2) auto;
   padding: (($grid-gutter-width / 2) - 5);
   font-family: Consolas, Menlo, Courier, monsopace;
   font-size: 13px;
   line-height: 1.5;
   border: 1px solid #ddd;
   background-color: #f4f4f4;
   border-radius: 4px;
   box-shadow: 0 0 5px rgba(#333, .1) inset;

   @media (min-width: $screen-md),
          (min-width: $screen-lg) {
     float: none;
     clear: both;
     width: 50%;
   }
 }

 code {
   display: inline-block;
   margin: ($grid-gutter-width / 2) auto;
   padding: 5px 10px;
   font-size: 13px;
   font-weight: bold;
   text-shadow: 0 1px 0 #fff;
   background-color: #eee;
   border: 1px solid #ddd;
   border-radius: 3px;
 }

 ul.thumbnails {
  @include clearfix;
  @include make-row;
  margin: 0;
  padding: 0;
  list-style: none;
 }



 ul.thumbnails > li {
   @include make-column-xs(6, $grid-gutter-width);
   @include make-column-sm(4, $grid-gutter-width);
   @include make-column-md(3, $grid-gutter-width);
   @include make-column-lg(4, $grid-gutter-width);
   text-align: center;
   border-left: 1px solid #fff;
   cursor: pointer;

   &:nth-of-type(1) {
     color: #000;
   }

   &:nth-of-type(2) {
     color: $brand-primary;
   }

   &:nth-of-type(3) {
     color: $brand-success;
   }

   &:nth-of-type(4) {
     color: $brand-info;
   }

   &:nth-of-type(5) {
     color: $brand-warning;
   }

   &:nth-of-type(6) {
     color: $brand-danger;
   }
 }

 .content {
   @include transition(all .2s ease-in);
   position: relative;
   margin: ($grid-gutter-width / 2) 0;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 3px;

   &:hover {
     @include transition(all .2s ease-out);
     @include transform(scale(1.3, 1.3));
     @include box-shadow(0 0 20px rgba(#000, .2));
     position: relative;
     z-index: 500;
   }

   @media (min-width: $screen-lg) {
     min-height: 260px;
   }
 }

 .content .icon {
   display: table;
   width: 100%;
   height: 270px;
   text-align: center;
 }

 .content .icon > .fa {
   display: table-cell;
   height: 100%;
   vertical-align: middle;
 }

 // Ribbon Variants
 @mixin ribbon ($color, $bgcolor1, $bgcolor2, $position: top-right) {
   > small {

     @include filter-gradient($bgcolor1, $bgcolor2, vertical);
     @include background-image(linear-gradient(top, $bgcolor1 0%, $bgcolor2 100%));

     position: absolute;
     display: block;
     width: 100%;
     padding: 8px 16px;
     text-align: center;
     text-transform: uppercase;
     text-shadow: 0 2px 0 darken($bgcolor1, 15%);
     font-weight: bold;
     font-size: 65%;
     color: $color;
     background-color: $bgcolor1;

     &:before,
     &:after {
       position: absolute;
       content: " ";
     }

     &:before { left: 0; }
     &:after  { right: 0; }

     @if ($position == top-right) {
       @include transform(rotate(45deg));
       @include box-shadow(0 3px 6px -3px rgba(#000, .5));
       top: 16px;
       left: 27px;

       &:before, &:after {
         bottom: -3px;
         border-top: 3px solid darken($bgcolor1, 40%);
         border-left: 3px solid transparent;
         border-right: 3px solid transparent;
       }
     }

     @elseif ($position == top-left) {
       @include transform(rotate(-45deg));
       @include box-shadow(0 3px 6px -3px rgba(#000, .5));
       top: 16px;
       left: -27px;

       &:before, &:after {
         bottom: -3px;
         border-top: 3px solid darken($bgcolor1, 40%);
         border-left: 3px solid transparent;
         border-right: 3px solid transparent;
       }
     }

     @elseif ($position == bottom-right) {
       @include transform(rotate(-50deg));
       @include box-shadow(0 -3px 6px -3px rgba(#000, .5));
       bottom: 21px;
       right: -31px;

       &:before, &:after {
         top: -3px;
         border-bottom: 3px solid darken($bgcolor1, 40%);
         border-left: 3px solid transparent;
         border-right: 3px solid transparent;
       }
     }

     @elseif ($position == bottom-left) {
       @include transform(rotate(50deg));
       @include box-shadow(0 -3px 6px -3px rgba(#000, .5));
       bottom: 21px;
       left: -31px;

       &:before, &:after {
         top: -3px;
         border-bottom: 3px solid darken($bgcolor1, 40%);
         border-left: 3px solid transparent;
         border-right: 3px solid transparent;
       }
     }
   }


 }



 // base
 .ribbon {
   position: absolute;
   z-index: 100;
   width: 120px;
   height: 120px;
   overflow: hidden;

   &.top-right {
     top: -3px;
     right: -6px;

     &.ribbon-default {
       @include ribbon(#000, #f4f4f4, #ddd);
     }

     &.ribbon-primary {
       @include ribbon(#fff, $brand-primary, darken($brand-primary, 15%));
     }

     &.ribbon-success {
       @include ribbon(#fff, $brand-success, darken($brand-success, 15%));
     }

     &.ribbon-info {
       @include ribbon(#fff, $brand-info, darken($brand-info, 15%));
     }

     &.ribbon-warning {
       @include ribbon(#fff, $brand-warning, darken($brand-warning, 15%));
     }

     &.ribbon-danger {
       @include ribbon(#fff, $brand-danger, darken($brand-danger, 15%));
     }
   }

   &.top-left {
     top: -3px;
     left: -6px;

     &.ribbon-default {
       @include ribbon(#000, #f4f4f4, #ddd, top-left);
     }

     &.ribbon-primary {
       @include ribbon(#fff, $brand-primary, darken($brand-primary, 15%), top-left);
     }

     &.ribbon-success {
       @include ribbon(#fff, $brand-success, darken($brand-success, 15%), top-left);
     }

     &.ribbon-info {
       @include ribbon(#fff, $brand-info, darken($brand-info, 15%), top-left);
     }

     &.ribbon-warning {
       @include ribbon(#fff, $brand-warning, darken($brand-warning, 15%), top-left);
     }

     &.ribbon-danger {
       @include ribbon(#fff, $brand-danger, darken($brand-danger, 15%), top-left);
     }
   }

   &.bottom-right {
     bottom: -3px;
     right: -6px;

     &.ribbon-default {
       @include ribbon(#000, #f4f4f4, #ddd, bottom-right);
     }

     &.ribbon-primary {
       @include ribbon(#fff, $brand-primary, darken($brand-primary, 15%), bottom-right);
     }

     &.ribbon-success {
       @include ribbon(#fff, $brand-success, darken($brand-success, 15%), bottom-right);
     }

     &.ribbon-info {
       @include ribbon(#fff, $brand-info, darken($brand-info, 15%), bottom-right);
     }

     &.ribbon-warning {
       @include ribbon(#fff, $brand-warning, darken($brand-warning, 15%), bottom-right);
     }

     &.ribbon-danger {
       @include ribbon(#fff, $brand-danger, darken($brand-danger, 15%), bottom-right);
     }
   }

   &.bottom-left {
     bottom: -3px;
     left: -6px;

     &.ribbon-default {
       @include ribbon(#000, #f4f4f4, #ddd, bottom-left);
     }

     &.ribbon-primary {
       @include ribbon(#fff, $brand-primary, darken($brand-primary, 15%), bottom-left);
     }

     &.ribbon-success {
       @include ribbon(#fff, $brand-success, darken($brand-success, 15%), bottom-left);
     }

     &.ribbon-info {
       @include ribbon(#fff, $brand-info, darken($brand-info, 15%), bottom-left);
     }

     &.ribbon-warning {
       @include ribbon(#fff, $brand-warning, darken($brand-warning, 15%), bottom-left);
     }

     &.ribbon-danger {
       @include ribbon(#fff, $brand-danger, darken($brand-danger, 15%), bottom-left);
     }
   }
 }





 // Prettyprint Stuff
 // Prettyprint()
 .str,
 .atv { color: #D14; }

 .pun,
 .opn,
 .clo { color: #93a1a1; }

 .kwd,
 .prettyprint
 .tag { color: #1e347b; }

 .typ,
 .atn,
 .dec,
 .var { color: teal; }

 .lit { color: #195f91; }
 .fun { color: #dc322f; }
 .pln { color: #48484c; }
 .com {
   font-style: italic;
   color: #93a1a1;
 }

 .prettyprint.linenums {
   @include box-shadow(inset 45px 0 0 #fafafa);
 }


 .prettyprint ol.linenums {
   margin:         0;
   margin-left:  -5px;
 }

 .prettyprint ol.linenums > li {
   padding-left:     12px;
   color:            #bebec5;
   line-height:      1.6;
 }

 .lt-ie9 .prettyprint ol.linenums {
   margin:       0;
   margin-left:  33px;
 }